.ui-autocomplete-menu {
    border: 1px solid black;
    border-top: none;
    overflow: hidden;

    overflow-y: auto;

    margin: 0;
    padding: 0;

    max-height: 300px;

    z-index: 100;
}

.ui-autocomplete-menu .ui-autocomplete-inner {
    display: flex;
    flex-direction: column;
    
}

ul.ui-autocomplete-inner {
    padding-left: 0px;
    margin-bottom: 0px;
}

.ui-autocomplete-menu .ui-menu-item {
    border: none;
    outline: none;

    background-color: white;
    color: black;

    cursor: pointer;
    user-select: none;

    text-align: left;

    list-style: none;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}

.ui-autocomplete-menu .ui-menu-item.focus {
    background-color: #f1f3f5;
}

ui-autocomplete input {
    border: 1px solid black;
    padding: 0.5rem;
}

ui-autocomplete.form-control {
    display: unset;
    padding: unset;
    border:unset;
}

ui-autocomplete.form-control input {
    display: block;
    position: relative;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    z-index: 101;
}

ui-autocomplete.form-control .ui-autocomplete-menu {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

ui-autocomplete.form-control .ui-autocomplete-menu .ui-menu-item.focus {
    background-color: #f1f3f5;
}

.input-group ui-autocomplete.form-control input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}